@import url("https://fonts.googleapis.com/css2?family=Inter:wgh@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply m-0 p-0 box-border;
}

html,
body {
  @apply bg-gradient-to-r bg-white text-[#004242] h-screen inter overflow-x-hidden select-none scroll-smooth;
}

@font-face {
  font-family: "AliandoRocky";
  src: url("./fonts/AliandoRocky.ttf");
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.scrollbar::-webkit-scrollbar {
  @apply hidden;
}

.mobileMenu {
  position: absolute;
  width: 100%;
  left: 0;
}

.mobileClose {
  position: absolute;
  width: 100%;
  left: 0;
  height: 0px;
  top: 0rem;
}

.ql-editor {
  -webkit-user-select: text;
  user-select: text;
  -webkit-touch-callout: default;
  width: 100%;
  box-sizing: border-box;
}

@keyframes mobileopen {
  from {
    top: -99rem;
  }
  to {
    top: 6rem;
  }
}

@keyframes mobileclose {
  from {
  }
  to {
    height: 0px;
    line-height: 0px;
  }
}
